{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero -->
        <section id="slider" class="hero p-0 odd featured">
            <div class="swiper-container no-slider slider-h-75">
                <div class="swiper-wrapper">

                    <!-- Item 1 -->
                    <div class="swiper-slide slide-center">
                        
                        <img src="{% static '/assets/images/bg-5.jpg' %}" class="full-image" data-mask="70">
                        
                        <div class="slide-content row text-center">
                            <div class="col-12 mx-auto inner">
                                <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Blog Posts</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Blog -->
        <section id="blog" class="section-1 showcase blog-grid masonry news">
            <div data-aos="zoom-in" data-aos-delay="200" data-aos-anchor="body" class="container">
                <div class="row content blog-grid masonry">
                    <main class="col-12 p-0">
                        <div class="bricklayer items columns-3">
                            
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="{% static '/assets/images/news-1-h.jpg' %}" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#  ">
                                            <h4>Tips for having a good relationship at work.</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Doe</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>3 Days Ago</a>
                                    </div>
                                </div>
                            </div>
                            {% for blog  in blogs %}
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="{{blog.backimage.url}}" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <h4>{{blog.bodytitle}}</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>{{blog.blogauthor}}</a>
    
                                    </div>
                                </div>
                            </div> 
                            {% endfor %}
                            {% comment %}
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="assets/images/news-3-h.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="page-single-post-1.html">
                                            <h4>Successful creations using virtual reality.</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Doe</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>3 Days Ago</a>
                                    </div>
                                </div>
                            </div> 
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="assets/images/news-4-h.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="page-single-post-1.html">
                                            <h4>Is the trend these days working from home?</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Doe</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>3 Days Ago</a>
                                    </div>
                                </div>
                            </div> 
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="assets/images/news-5-h.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="page-single-post-1.html">
                                            <h4>How digital transformation has changed the world.</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Doe</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>3 Days Ago</a>
                                    </div>
                                </div>
                            </div> 
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="assets/images/news-6-h.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="page-single-post-1.html">
                                            <h4>Why project management increases performance.</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Doe</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>3 Days Ago</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="assets/images/news-1-h.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="page-single-post-1.html">
                                            <h4>Tips for having a good relationship at work.</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Doe</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>3 Days Ago</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="assets/images/news-2-h.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="page-single-post-1.html">
                                            <h4>Data scientists are a booming profession.</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Doe</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>3 Days Ago</a>
                                    </div>
                                </div>
                            </div> 
                            <div class="card p-0 text-center item">
                                <div class="image-over">
                                    <img src="assets/images/news-3-h.jpg" alt="Lorem ipsum">
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <a href="page-single-post-1.html">
                                            <h4>Successful creations using virtual reality.</h4>
                                        </a>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-user"></i>John Doe</a>
                                        <a href="#" class="d-lg-flex align-items-center"><i class="icon-clock"></i>3 Days Ago</a>
                                    </div>
                                </div>
                            </div>  {% endcomment %}
                        </div>
                    </main>
                </div>

                <!-- Pagination -->
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="icon-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <!-- Subscribe -->
        <section id="subscribe" class="section-2 subscribe">
            <div class="container smaller">
                <div class="row text-center intro">
                    <div class="col-12">
                        <h2>Newsletter</h2>
                        <p class="text-max-800">Subscribe to our newsletter and follow our content closely. Receive news based on what has to do with you. We promise not to send promotions you don't like.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0">
                        <form action="php/form.php" id="leverage-subscribe" class="row m-auto items">
                            <input type="hidden" name="section" value="leverage_subscribe">

                            <input type="hidden" name="reCAPTCHA">
                            <!-- Remove this field if you want to disable recaptcha -->

                            <div class="col-12 col-lg-5 m-lg-0 input-group align-self-center item">
                                <input type="text" name="name" class="form-control field-name" placeholder="Name">
                            </div>
                            <div class="col-12 col-lg-5 m-lg-0 input-group align-self-center item">
                                <input type="email" name="email" class="form-control field-email" placeholder="Email">
                            </div>
                            <div class="col-12 col-lg-2 m-lg-0 input-group align-self-center item">
                                <a class="btn primary-button w-100">SUBSCRIBE</a>
                            </div>
                            <div class="col-12 text-center">
                                <span class="form-alert mt-5 mb-0"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        {% endblock content %}