{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- ==============================================
        Basic Page Needs
        =============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->

        <title>Leverage - Your next level of website building</title>

        <meta name="description" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
        <meta name="subject" content="Creative Agency, Portfolio, Corporate, Startup & Technology">
        <meta name="author" content="Codings">

        <!-- ==============================================
        Favicons
        =============================================== -->
        <link rel="shortcut icon" href=" {% static '/assets/images/favicon.ico' %} ">
        <link rel="apple-touch-icon" href="{% static '/assets/images/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/images/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/images/apple-touch-icon-114x114.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

        <!-- ==============================================
        Vendor Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="{% static '/assets/css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/vendor/slider.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/vendor/icons.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/vendor/animation.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/vendor/gallery.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/vendor/cookie-notice.min.css' %}">

        <!-- ==============================================
        Custom Stylesheet
        =============================================== -->
        <link rel="stylesheet" href="{% static '/assets/css/default.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/theme-yellow.css' %}">
        

        <!-- ==============================================
        Theme Settings
        =============================================== -->
        <style>
            :root {
                --header-bg-color: #121a21;
                --nav-item-color: #f5f5f5;
                --top-nav-item-color: #f5f5f5;
                --hero-bg-color: #000000;

                --section-1-bg-color: #0a131a;
                --section-2-bg-color: #121a21;
                --section-3-bg-color: #0a131a; --section-3-bg-image: url('/assets/images/bg-9.jpg');
                --section-4-bg-color: #0a131a;
                --section-5-bg-color: #000000;
                --section-6-bg-color: #0a131a;

                --card-bg-color: #121a21;
                
                --footer-bg-color: #121a21;
            }
        </style>
        
    </head>

    <body>

        <!-- Header -->
        <header id="header">

            <!-- Navbar -->
            <nav data-aos="zoom-out" data-aos-delay="800" class="navbar navbar-expand">
                <div class="container header">

                    <!-- Navbar Brand-->
                    <a class="navbar-brand" href="/">
                        Leverage<i class="version-number">2.1</i>
                        <!-- 
                            Custom Logo
                            <img src="{% static '/assets/images/logo.svg" alt="Leverage">
                        -->
                    </a>

                    <!-- Nav holder -->
                    <div class="ml-auto"></div>

                    <!-- Navbar Items -->
                    <ul class="navbar-nav items">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About</i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link">Contact Us</a>
                        </li>
                    </ul>

                    <!-- Navbar Icons -->
                    <ul class="navbar-nav icons">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#search">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="nav-item social">
                            <a href="#" class="nav-link"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>

                    <!-- Navbar Toggle -->
                    <ul class="navbar-nav toggle">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#menu">
                                <i class="icon-menu m-0"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

        </header>
