

            <!-- Container-fluid starts-->
            <div class="page-body">
                <div class="title-header title-header-1">
                    <h5>All Users</h5>
                    <form class="d-inline-flex">
                        <a href="add-new-user.html" class="align-items-center btn btn-theme">
                            <i data-feather="plus-square"></i>Add New
                        </a>
                    </form>
                </div>
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive table-desi">
                                            <table class="user-table table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated" type="checkbox"
                                                                    value="" id="checkall">
                                                            </span>User</th>
                                                        <th>Name</th>
                                                        <th>Phone</th>
                                                        <th>Email</th>
                                                        <th>Country</th>
                                                        <th>Last Login</th>
                                                        <th>Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault">
                                                            </div>
                                                            <span>
                                                                <img src="assets/images/users/1.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block ">Everett C. Green</span>
                                                                <span>Essex Court</span>
                                                            </a>
                                                        </td>

                                                        <td> +802-370-2430</td>

                                                        <td>EverettCGreen@rhyta.com</td>

                                                        <td class="font-primary">America</td>

                                                        <td>1 Day</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault1">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/2.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Caroline L. Harris</span>
                                                                <span>Davis Lane</span>
                                                            </a>
                                                        </td>

                                                        <td> + 720-276-9403</td>

                                                        <td>CarolineLHarris@rhyta.com</td>

                                                        <td class="font-primary">Denver</td>

                                                        <td>1 Day</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault3">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/3.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">lucy j. Morile</span>
                                                                <span>Clifton</span>
                                                            </a>
                                                        </td>

                                                        <td> +351-756-654</td>

                                                        <td>LucyMorile456@gmail.com</td>

                                                        <td class="font-primary">Clifton</td>

                                                        <td>3 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault4">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/4.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Jennifer A. Straight</span>
                                                                <span>Brunswick</span>
                                                            </a>
                                                        </td>

                                                        <td> +912-265-1550</td>

                                                        <td>JenniferAStraight@rhyta.com</td>

                                                        <td class="font-primary">Austin Avenue</td>

                                                        <td>3 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault5">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/5.jpg" alt="users">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Louise J. Stiles</span>
                                                                <span>Indianapolis</span>
                                                            </a>
                                                        </td>

                                                        <td> +304-921-8122</td>

                                                        <td>KevinAMillett@jourrapide.com</td>

                                                        <td class="font-primary"> Barfield Lane</td>

                                                        <td>3 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault7">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/1.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Scott T. Thomas</span>
                                                                <span>Kotzebue</span>
                                                            </a>
                                                        </td>

                                                        <td> +907-442-8122</td>

                                                        <td>czxc@packiu.com</td>

                                                        <td class="font-primary">Blackwell Street</td>

                                                        <td>4 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault8">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/2.jpg" alt="users">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Ricky M. Gaynor</span>
                                                                <span>Coleraine</span>
                                                            </a>
                                                        </td>
                                                        <td> +218-244-7026</td>

                                                        <td>KevinAMillett@jourrapide.com</td>

                                                        <td class="font-primary">Coleraine</td>

                                                        <td>10 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault9">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/3.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Dillon J. Bradshaw</span>
                                                                <span>Redbud Drive</span></a>
                                                        </td>

                                                        <td> + 347-649-7283</td>

                                                        <td>DillonJBradshaw@teleworm.us</td>

                                                        <td class="font-primary">Long Island City</td>

                                                        <td>9 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault0">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/4.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Lorna M. Bonner</span>
                                                                <span>Broadway Street</span>
                                                            </a>
                                                        </td>
                                                        <td> +843-765-6166</td>

                                                        <td>LornaMBonner@teleworm.us</td>

                                                        <td class="font-primary">Florence</td>

                                                        <td>6 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault10">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/5.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Richard A. Johnson</span>
                                                                <span>Garrett Street</span>
                                                            </a>
                                                        </td>

                                                        <td>+ 267-948-4207</td>

                                                        <td>RichardAJohnson@rhyta.com</td>

                                                        <td class="font-primary">Philadelphia</td>

                                                        <td>6 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <span class="form-check user-checkbox">
                                                                <input class="checkbox_animated check-it"
                                                                    type="checkbox" value="" id="flexCheckDefault11">
                                                            </span>
                                                            <span>
                                                                <img src="assets/images/users/1.jpg" alt="users">
                                                            </span>
                                                        </td>

                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <span class="d-block">Lorraine D. McDowell</span>
                                                                <span>Woodland Terrace</span>
                                                            </a>
                                                        </td>

                                                        <td>+ 916-942-7555</td>

                                                        <td>LorraineDMcDowell@dayrep.com</td>

                                                        <td class="font-primary">Fair Oaks</td>

                                                        <td>7 Days</td>

                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="order-detail.html">
                                                                        <span class="lnr lnr-eye"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-pencil"></span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)">
                                                                        <span class="lnr lnr-trash"></span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="pagination-box">
                                    <nav class="ms-auto me-auto " aria-label="...">
                                        <ul class="pagination pagination-primary">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="javascript:void(0)">Previous</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="javascript:void(0)">1 </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0)">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->
